<footer id="main-footer">
    {{#if handle_user}}
    <ul>
        <li><a href="{{handle_user.linkedin}}" class="social linkedin">LinkedIn</a></li>
        <li><a href="{{handle_user.github_account}}" class="social github">Github</a></li>
    </ul>
    <p class="copyright">Copyright <span id="year"></span>, {{handle_user.name}}</p>

    {{else if current_user}}
    <ul>
        <li><a href="{{current_user.linkedin}}" class="social linkedin">LinkedIn</a></li>
        <li><a href="{{current_user.github_account}}" class="social github">Github</a></li>
    </ul>
    <p class="copyright">Copyright <span id="year"></span>, {{current_user.name}}</p>

    {{else}}
    <ul>
        <li><a href="#" class="social linkedin">LinkedIn</a></li>
        <li><a href="#" class="social github">Github</a></li>
    </ul>
    <p class="copyright">Copyright <span id="year"></span>, John Smith</p>
    {{/if}}
</footer>