<main id="about">
    <h1 class="big-heading">
        About
        <span class="text-blue">Me</span>
    </h1>
    {{#if handle_user}}
    <div class="about-info">
        <img src="/static/images/{{handle_user.avatar}}" alt="avatar image" class="bio-img" />
        <div class="bio">
            <h3 class="text-blue">
                BIO
            </h3>
            <p class="">
                {{handle_user.self_description}}
            </p>
        </div>
        <div class="col edu">
            <h3>Education</h3>
            {{#each handle_user.education}}
            <h5>{{this.school}}</h5>
            <p>{{this.degree}}</p>
            <small>{{this.year}}</small>
            <hr>
            {{/each}}
        </div>

        <div class="col workexp">
            <h3>Experience</h3>
            {{#each handle_user.workexp}}
            <h5>{{this.company}}</h5>
            <p class="text-dark">{{this.title}}</p>
            <p>{{this.year}}</p>
            <hr>
            {{/each}}
        </div>

        <div class="col skills">
            <h3>Skills</h3>
            <ul>
                {{#each handle_user.skills}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{else if current_user}}
    <div class="about-info">
        <img src="/static/images/{{current_user.avatar}}" alt="avatar image" class="bio-img" />
        <div class="bio">
            <h3 class="text-blue">
                BIO
            </h3>
            <p class="">
                {{current_user.self_description}}
            </p>
        </div>
        <div class="col edu">
            <h3>Education</h3>
            {{#each current_user.education}}
            <h5>{{this.school}}</h5>
            <p>{{this.degree}}</p>
            <small>{{this.year}}</small>
            <div>
                <a href="/user/edit-education/{{this.id}}">
                    <i class="fas fa-edit"></i> Edit
                </a>
                <form action="/user/delete-education/{{this.id}}?_method=DELETE" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">
                        <i class="fas fa-trash-alt"></i> Delete
                    </button>
                </form>
            </div>

            <hr>
            {{/each}}
        </div>

        <div class="col workexp">
            <h3>Experience</h3>
            {{#each current_user.workexp}}
            <h5>{{this.company}}</h5>
            <p class="text-dark">{{this.title}}</p>
            <p>{{this.year}}</p>
            <div>
                <a href="/user/edit-workexp/{{this.id}}">
                    <i class="fas fa-edit"></i> Edit
                </a>
                <form action="/user/delete-workexp/{{this.id}}?_method=DELETE" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">
                        <i class="fas fa-trash-alt"></i> Delete
                    </button>
                </form>
            </div>
            <hr>
            {{/each}}
        </div>

        <div class="col skills">
            <h3>Skills</h3>
            <ul>
                {{#each current_user.skills}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{else}}
    <div class="about-info">
        <img src="/static/images/me.png" alt="bio-image" class="bio-img" />
        <div class="bio">
            <h3 class="text-blue">
                BIO
            </h3>
            <p>
                I am an aspiring web designer with 3 years of experience in
                front-end development. I have worked on mulitple Sprint projects
                using Scrum agile development.
            </p>
            <p class="">
                My projects includes: tranerapp-update application, restaurant
                application, Book Store application, RSVP application. I used
                JavaScript and ReactJS for the front-end and Java and MariaDB for
                the back-end.
            </p>
        </div>
        <div class="col edu">
            <h3>Education</h3>
            <h5>Haaga-Helia University of Applied Sciences</h5>
            <p>BIT Degree</p>
        </div>

        <div class="col workexp">
            <h3>Experience</h3>
            <h5>The Shortcut</h5>
            <p>Tech intern</p>
        </div>

        <div class="col skills">
            <h3>Skills</h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JS</li>
            </ul>
        </div>
    </div>
    {{/if}}
</main>