<main id="contact">
    <h1 class="big-heading">
        Contact
        <span class="text-blue">me</span>
    </h1>
    {{#if handle_user}}
    <div class="boxes">
        <div><span class="text-blue">Email:</span> {{handle_user.email}}</div>
        {{#if handle_user.phone}}
        <div><span class="text-blue">Phone:</span> {{handle_user.phone}}</div>
        {{else}}
        {{/if}}
        {{#if handle_user.address}}
        <div>
            <span class="text-blue">Address: </span> {{handle_user.address}}
        </div>
        {{else}}
        {{/if}}
    </div>
    {{else if current_user}}
    <div class="boxes">
        <div><span class="text-blue">Email:</span> {{current_user.email}}</div>
        {{#if current_user.phone}}
        <div><span class="text-blue">Phone:</span> {{current_user.phone}}</div>
        {{else}}
        {{/if}}
        {{#if current_user.address}}
        <div>
            <span class="text-blue">Address: </span> {{current_user.address}}
        </div>
        {{else}}
        {{/if}}
    </div>
    {{else}}
    <div class="boxes">
        <div><span class="text-blue">Email:</span> john@doe.com</div>
        <div><span class="text-blue">Phone:</span> 222-222-2222</div>
        <div>
            <span class="text-blue">Address: </span> Unknown str. Helsinki
        </div>
    </div>
    {{/if}}
</main>