{{#if project}}
<main id="login">
    <h1 class="big-heading">
        Edit
        <span class="text-blue">project</span>
    </h1>

    <form class="form-box" action="" method="post">
        <div class="input-group">
            <label for="title" class="input-label"> Title</label>
            <input name="title" type="text" class="input-field" value="{{project.title}}" required>
        </div>
        <div class="input-group">
            <label for="link_demo" class="input-label"> Link demo</label>
            <input name="link_demo" type="text" class="input-field" value="{{project.link_demo}}">
        </div>
        <div class="input-group">
            <label for="link_github" class="input-label"> Link to Github repo</label>
            <input name="link_github" type="text" class="input-field" value="{{project.link_github}}">
        </div>
        <div class="input-group">
            <label for="description" class="input-label"> Description</label>
            <input name="description" type="text" class="input-field" value="{{project.description}}" required>
        </div>

        <input type="submit" class="btn-dark" value="Update">
    </form>
</main>
{{else}}
<main id="login">
    <h1 class="big-heading">
        Add
        <span class="text-blue">project</span>
    </h1>

    <form class="form-box" action="" method="post">
        <div class="input-group">
            <label for="title" class="input-label"> Title</label>
            <input name="title" type="text" class="input-field" required>
        </div>
        <div class="input-group">
            <label for="link_demo" class="input-label"> Link demo</label>
            <input name="link_demo" type="text" class="input-field">
        </div>
        <div class="input-group">
            <label for="link_github" class="input-label"> Link to Github repo</label>
            <input name="link_github" type="text" class="input-field">
        </div>
        <div class="input-group">
            <label for="description" class="input-label"> Description</label>
            <input name="description" type="text" class="input-field" required>
        </div>

        <input type="submit" class="btn-dark" value="Add">
    </form>
</main>
{{/if}}