<main id="home">
    {{#if handle_user}}
    <h2 class="small-heading">Hello, I’m</h2>
    <h1 class="big-heading">
        I’m
        <span class="text-blue">{{handle_user.name}}</span>
    </h1>
    <div class="social-icons">
        <a href="{{handle_user.facebook}}" target="_blank">
            <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="{{handle_user.linkedin}}" target="_blank">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="{{handle_user.twitter}}" target="_blank">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="{{handle_user.github_account}}" target="_blank">
            <i class="fab fa-github fa-2x"></i>
        </a>
    </div>

    {{else if current_user}}
    <h2 class="small-heading">Hello, I’m</h2>
    <h1 class="big-heading">
        I’m
        <span class="text-blue">{{current_user.name}}</span>
    </h1>
    <div class="social-icons">
        <a href="{{current_user.facebook}}" target="_blank">
            <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="{{current_user.linkedin}}" target="_blank">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="{{current_user.twitter}}" target="_blank">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="{{current_user.github_account}}" target="_blank">
            <i class="fab fa-github fa-2x"></i>
        </a>
    </div>

    {{else}}
    <h2 class="small-heading">Hello, I’m</h2>
    <h1 class="big-heading">
        John
        <span class="text-blue">Smith.</span>
    </h1>
    <div class="social-icons">
        <a href="">
            <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="">
            <i class="fab fa-github fa-2x"></i>
        </a>
    </div>
    {{/if}}

</main>